.contact-pg-content {
    color: #374151;
    max-width: 73vw;
}

.contact-pg-title {
    font-size: 2rem;
}

@media (min-width: 600px) {

    .contact-pg-content {
        max-width: fit-content;
    }

    .contact-pg-title {
        font-size: 3rem;
    }
}