.card {
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 8px;
    border: 20px;
    border-color: blueviolet;
    /* margin: 0%; */
    /* padding: 0em; */
    overflow: hidden;
    position: relative;
}

.char-name {
    width: 100%;
    height: 10%;
    background-color: lightgreen;
}